---
name: Build

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1
      - uses: actions/setup-python@v6.0.0
        with:
          python-version: 3.x
      - run: |
          python3 -m pip install --upgrade pip
          pip3 install setuptools wheel
          python3 setup.py sdist bdist_wheel
