---
name: Run pre-commit hooks

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: 3.x
      - uses: pre-commit/action@v3.0.1
