---
name: Run tests

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-python@v6.2.0
        with:
          python-version: 3.x
      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements_test.txt
          python -m pytest --cov pyavanza --cov-fail-under 100
